/*------------------------------BODY------------------------------*/

.h2, h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.h3, h3 {
    font-size: 2rem;
    color: #fff;
}

/*------------------------------JUMBROTRON------------------------------*/

.height50p {
    height: 50vh !important;
    /*Gives the jumbotron a height of 50 percent of the user screen*/
}

.banner {
    position: relative;
    top: 0;
    width: 100%;
    /*Ensures whatever content is inside of it, uses 100% of it*/
    height: 100vh;
    /*uses 100vh of the user screen*/
    background: url(../Pictures/0.Common-Folder/ThematicFiller-Mountains.jpg);
    /*Inset here to change the pictures in the future*/
    background-size: cover;
    margin-bottom: 0;
}

.banner h1 {
    font-weight: 800;
    /*This gives the Why should u use a VPN more weight and more bigger dramatical effect*/
    color: rgb(255, 255, 255);
    /*Gives h1 of banner class a color of white*/
    text-transform: uppercase;
    /*Capitalises all the text*/
    font-size: 5rem;
    /*Gives the text a very strong and big size*/
    margin-top: 0.5rem;
    /*So as to give it more space, and not to collide with the navbar*/
}

/*------------------------------SECTION------------------------------*/

.sec2 h3 {
    font-weight: 600;
    color: #fff;
    /*To match the rest of the color in the page*/
    text-transform: none;
    /*This time, i removed text-transform to uppercase so users dont feel stress reading it*/
    font-size: 2.5rem;
    /*Gives text inside a bigger size so as to have a more eyecatching feel towards it*/
}