@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   The Great Lakescape Lodge Layout Styles
   Filename: lake_layout.css

*/

/* Structural Styles */

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body>header>img {
	width: 100%;
	display: block;
	margin: 0;
}

body>section#leftcol {
	width: 70%;
	float: left;
	margin-left: 0%;
	margin-right: 4%;
}

body>section#rightcol {
	width: 24%;
	float: left;
	margin-right: 2%;
}

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {
	box-sizing: border-box;
}

/* Header Navigation */

header>nav {
	display: table;
	width: 100%;
}

header>nav>ul {
	display: table-row;
	list-style-type: none;
}

header>nav>ul>li {
	display: table-cell;
	text-align: center;
}

header>nav a {
	display: block;
	width: 100%;
}

/* Section Layout */

section#leftcol aside {
	width: 42%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 20px;
}

section#leftcol img {
	width: 100%;
	display: block;
}

#booknow {
	text-align: center;
}

#leftcol {
	overflow: visible
}